@import "messages";
@import "errors";

.content-mobile {
  display: none;
}

.space {
  padding-right: 5%;
}

.split-profile {
  padding-top: 5%;
}

// Buttons
.active {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  background-color: #ffe4c4;
  padding-right: 10%;
}

.icon {
  height: 2.5rem;
  width: 2.5rem;
}

a:hover {
  color: #FF6633;
}

.text-padding-home-icon {
  padding-top: 18%;
}

.unactive:hover {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  background-color: #ffefde;
  padding-right: 10%;
}

.unactive {
  border-top-right-radius: 1.25rem;
  border-bottom-right-radius: 1.25rem;
  padding-right: 10%;
}

.text-padding-cross-icon {
  padding-top: 9%;
}

.text-padding-crosses-icon {
  padding-top: 7%;
}