= turbo_frame_tag dom_id(message) do
  - if message.persisted?
    .card.mb-2{class: ("border-primary" if message.user == current_user)}
      .card-body
        .row
          .col-md-9
            %small.text-muted
              Sent at:
              = time_ago_in_words(message.created_at)
              ago
        %p.mb-0
          %strong= message.user.username
          said:
          = message.body
