= turbo_frame_tag dom_id(room_message) do
  - if room_message.persisted?
    .card.mb-2{class: ("border-primary" if room_message.user == current_user)}
      .card-body
        .row
          .col-md-9
            %small.text-muted
              Sent at:
              = time_ago_in_words(room_message.created_at)
              ago
        %p.mb-0
          %strong= room_message.user.username
          said:
          = room_message.message