%h1 Tables
.grid-x
  .medium-4.cell.space
    %h3 User tables for everything
    = link_to "Users", admins_users_path, class: "button"
  .medium-4.cell.space
    %h3 Conversations on Lion Social
    = link_to "Conversations", admins_conversations_path, class: "button"
  .medium-4.cell.space
    %h3 Posts for Lion Social
    = link_to "Posts", admins_posts_path, class: "button"
