@import "messages";

h1 {
  font-size: 45px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

label {
  font-size: 17px;
}

.field {
  font-size: 15px;
}
.mobile-padding {
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
}

.mobile-break {
  padding-bottom: 15px;
}

.content-desktop {
  display: none;
}

.sign-in {
  padding-top: 20%;
}
