@import "messages";

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

label {
  font-size: 1rem;
}

.field {
  font-size: 1rem;
}
.mobile-padding {
  padding-left: .625rem;
  padding-top: .313rem;
  padding-right: .625rem;
  padding-bottom: .313rem;
}

.mobile-break {
  padding-bottom: .9rem;
}

.content-desktop {
  display: none;
}

.sign-in {
  padding-top: 20%;
}
