%h1.mb-4.text-center Every User
.row.row-cols-2.row-cols-md-3.row-cols-lg-4.g-4
  - @users.each do |user|
    .col
      .card.h-100
        .card-body.text-center.p-3
          - if user.avatar.attached?
            = image_tag user.avatar.variant(resize_to_fill: [80, 80]), class: "rounded-circle mb-2"
          - else
            = image_tag ("profilepic.png"), size: "80x80", class: "rounded-circle mb-2"
          %h5.card-title= user.username
          %p.card-text= link_to "View Profile", user_path(user), class: "btn btn-outline-primary btn-sm"
