.row
  .col-md-6.offset-md-3
    .card
      .card-body
        %h1.card-title Report an Error
        = render 'form'
        .mt-3
          = link_to 'Back', root_path, class: "btn btn-secondary"
