%h1 Someone updated your profile #{@user}!

%h3 If you have not updated your profile in any way #{link_to "click here.", "https://myaccount.lionnav.com", target: :blank}
%h3 Have a good time,
%h3 LionNav
