%h3 Hi admins of Lion social
%p A user had reported a error in Lion social.
%br/
%p To see what it is just follow this link: #{@url}
%p After you see what it is go and fix it.
%p Have a good day. :)
%p Thanks for your time!
