.grid-x
  .medium-3.cell
    = render "buttons/chatrooms/main"
  .medium-9.cell
    %h4 Join any chat room that is shown on the left or make your own.
    %br/
    %div{id: "rooms"}
      = render @rooms
