.row
  .col-md-8.offset-md-2
    %h1 Editing post
    .card.mb-4
      .card-body
        = render 'form'

    .actions
      = link_to 'Show', @post, class: "btn btn-outline-primary"
      = link_to 'Back', posts_path, class: "btn btn-secondary"
