.footer {
  background-color: $white;
  border-top: 1px solid rgba($black, 0.05);
  box-shadow: 0 -2px 10px rgba($black, 0.02);

  a {
    color: $gray-600;
    font-weight: 500;
    transition: color 0.15s ease-in-out;

    &:hover {
      color: $primary;
    }
  }
}
