body p {
    color: darkslategray;
    font-size: 16px;
}

html body {
    background-color: khaki;
    padding: 10px 0 10px 0;
    font-family: "JosefinSans";
}

.online_status {
  color: red;
  transition: color 1s ease;
  &.online {
    color: green;
  }
}

a.button {
  background-color: yellow;
  color: red;
  border-radius: 10px;
}

a {
  color: orange;
}

a.button:hover {
  background-color: coral;
  color: red;
  border-radius: 10px;
}

h1, h2{
  color: #FF6633;
}

input.button {
  background-color: yellow;
  color: orangered;
  border-radius: 10px;
}

input.button:hover {
  background-color: coral;
  color: red;
  border-radius: 10px;
}
input:visited {
  color: orange;
}

body h3, h4, b {
  color: chocolate;
}

body h5{
  color: brown;
}

a.hover {
  background-color: coral;
  color: red;
}

strong#following {
  color: orange;
}

strong#followers {
  color: orange;
}

span {
  color: chocolate;
}

img.small {
  height: 300px;
  width: 300px;
}

.small {
  height: 150px;
  width: 150px;
}

video.small {
  height: 200px;
  width: 200px;
}


.feed_photo {
  padding-top: 5px;
}

input#user_email, input#user_password, input#user_username, input#user_password_confirmation{
  border-radius: 10px;
}

.callout {
  background-color: #ffe4c4;
  color: orangered;
  font-size: 14px;
  border-radius: 10px;
}

input#user_avatar {
    color: #FF6347;
}

label {
    color: chocolate;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .avatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

html body, h1, h2, h3, h4, h5, h6, p, li {
  font-family: "JosefinSans";
}

.center {
  text-align: center;
}
