.top-bar, .top-bar ul {
  background-color: #ffe4c4;
}

.title-bar {
  background-color: #ffe4c4;
  color: orange;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after{
  border-color: #ff0000 transparent transparent;
}

.top-bar-padding-bottom {
  padding-bottom: 15px;
}